{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s3"></div>
            <div class="col s9">
                <div class="row">
                    <h2>Editar Funcionario</h2>
                    {{ form_start(edit_form) }}
                    <div class="input-field col s7">
                        {{ form_row(edit_form.rut) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(edit_form.nombre) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(edit_form.depto) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(edit_form.unidad) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(edit_form.cargo) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(edit_form.iniciales) }}
                    </div>
                    <div class="col s7">
                        <a class="waves-effect waves-light blue darken-4 btn hoverable"
                           href="{{ path('funcionario_index') }}">
                            <i class="material-icons">
                                arrow_back
                            </i>
                        </a>
                        <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable" disabled=""
                                id="accept">
                            Editar Funcionario {{ funcionario.rut }} <i class="material-icons right">add_box</i>
                        </button>
                        {{ form_end(edit_form) }}
                        <div>&nbsp;</div>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                            Borrar Permanentemente<i class="material-icons right">delete_forever</i>
                        </button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        window.onload = function () {
            $('#serviubundle_funcionario_rut').attr('readonly', true);
            document.getElementById('serviubundle_funcionario_nombre').disabled = false;
            $('#serviubundle_funcionario_nombre').attr('readonly', true);
            document.getElementById('serviubundle_funcionario_depto').disabled = false;
            document.getElementById('serviubundle_funcionario_unidad').disabled = false;
            document.getElementById('serviubundle_funcionario_cargo').disabled = false;
            document.getElementById('accept').disabled = false;
        };

    </script>

{% endblock %}