{% extends 'base.html.twig' %}

{% block body %}
    <div class="row container">
        <h2>Listado de Funcionarios</h2>

        <script type='text/javascript'>
            {% for flash_message in app.session.flashBag.get('m') %}
            {% if flash_message != null %}

            window.onload = function () {
                Materialize.toast('Funcionario {{ flash_message }} añadido exitosamente', 5000, 'rounded');
            };

            {% endif %}
            {% endfor %}


        </script>

        <div class="col s6">

            <a class="waves-effect waves-light blue darken-4 btn hoverable" href="{{ path('funcionario_new') }}">
                Agregar Funcionario a la lista <i class="material-icons right">add_box</i>
            </a>

            <a class="btn waves-effect waves-light blue darken-4 hoverable" href='{{ path('default_index') }}'>
                Volver al index <i class="material-icons right">home</i>
            </a>

            {#<a class="waves-effect waves-light btn blue darken-4 hoverable tooltipped" data-position="right" data-delay="1" data-tooltip="Imprimir" onclick="imprimir();">
                <i class="material-icons">print</i>
            </a>#}



        </div>

        <div id="testing" class="col s1"></div>


        <div id="imprimir">

            <table id="tableMain" class="mdl-data-table">
                <thead>
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Depto</th>
                    <th>Unidad</th>
                    <th>Cargo</th>
                    <th>Iniciales</th>
                    <th class="noImprimir">Reporte</th>
                </tr>
                </thead>
                <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.rut }}</td>
                        <td>{{ funcionario.nombre }}</td>
                        <td>{{ funcionario.depto }}</td>
                        <td>{{ funcionario.unidad }}</td>
                        <td>{{ funcionario.cargo }}</td>
                        <td>{{ funcionario.iniciales }}</td>
                        <td>
                            <a href="{{ path('funcionario_inventario', { 'id': funcionario.id }) }}"><i
                                        class="material-icons lime-text text-darken-1">assignment</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
