{% extends "base.html.twig" %}

{% block body %}

    <div class="container row">
        <div id="imprimir">
            <h3 class="center-align">INVENTARIO MURAL</h3>
            <div class="col s12 offset-s2">
                <div class="row">
                    <div class="col s1">
                        <p><b>Rut: </b></p>
                    </div>
                    <div class="col s1">
                        <p>{{ f.rut }}</p>
                    </div>
                    <div class="col s1 offset-s1">
                        <p><b>Departamento: </b></p>
                    </div>
                    <div class="col s3">
                        <p>{{ f.depto }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1">
                        <p><b>Unidad: </b></p>
                    </div>
                    <div class="col s2">
                        <p>{{ f.unidad }}</p>
                    </div>
                    <div class="col s1 offset-s1">
                        <p><b>Cargo: </b></p>
                    </div>
                    <div class="col s2">
                        <p>{{ f.cargo }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1">
                        <p><b>Nombre: </b></p>
                    </div>
                    <div class="col s3">
                        <p>{{ f.nombre }}</p>
                    </div>
                    <div class="col s1 offset-s1">
                        <p><b>Iniciales: </b></p>
                    </div>
                    <div class="col s1">
                        <p>{{ f.iniciales }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s7 offset-s2">
                    <table {#class="mdl-data-table bordered" id="tableMain"#}>
                        <thead>
                            <tr>
                                <th colspan="1">
                                    Código
                                </th>
                                <th colspan="4">
                                    Mobiliario
                                </th>
                                <th colspan="1">
                                    Cantidad
                                </th>
                                <th colspan="1">
                                    Código Barras
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in asignaciones %}
                                {% if a.idfuncionario.id == f.id %}
                                    <tr>
                                        <td colspan="1">
                                            {{ a.codigoasignacion }}
                                        </td>
                                        <td colspan="4">
                                            {{ a.idmobiliario.nombre }}
                                        </td>
                                        <td colspan="1">
                                            {{ a.cantidadmobiliario }}
                                        </td>
                                        <td colspan="1">
                                            {{ a.codigobarras }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container row">
            <div class="col s2 offset-s8">

                <a class='dropdown-button waves-effect waves-light btn-large blue darken-4 hoverable' href='#' data-activates='dropdownBack'>
                    <i class="material-icons">arrow_back</i>
                </a>
                <ul id='dropdownBack' class='dropdown-content'>
                    <li>
                        <a href="{{ path('funcionario_index') }}">
                            A Funcionarios<i class="material-icons left">face</i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('asignacion_index') }}">
                            A Asignaciones<i class="material-icons left">assignment</i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('default_index') }}">
                            Inicio<i class="material-icons left">home</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col s2">
                <a class="waves-effect waves-light btn-large blue darken-4 hoverable tooltipped" data-position="right" data-delay="1" data-tooltip="Imprimir" onclick="imprimir();">
                    <i class="material-icons">print</i>
                </a>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
        {% for flash_message in app.session.flashBag.get('m') %}
            {% if flash_message != null %}

                    window.onload = function () {
                        Materialize.toast('{{ flash_message.0 }} asignado a {{ flash_message.1 }}', 5000, 'rounded');
                    };

            {% endif %}
        {% endfor %}
    </script>

{% endblock %}