{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s3"></div>
            <div class="col s9">
                <div class="row">
                    <h2>Añadir Funcionario</h2>
                    {{ form_start(form) }}
                    <div class="input-field col s2">
                        <button type="button" onclick="comprobar();" class="waves-effect waves-light blue darken-4 btn hoverable">
                            <i class="material-icons">update</i>
                        </button>
                    </div>
                    <div class="input-field col s5">
                        {{ form_row(form.rut) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(form.nombre) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(form.depto) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(form.unidad) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(form.cargo) }}
                    </div>
                    <div class="input-field col s7">
                        {{ form_row(form.iniciales) }}
                    </div>
                    <div class="col s7">
                        <a class="waves-effect waves-light blue darken-4 btn hoverable" href="{{ path('funcionario_index') }}">
                            <i class="material-icons">
                                arrow_back
                            </i>
                        </a>
                        <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable" disabled="" id="accept">
                            Añadir Funcionario <i class="material-icons right">add_box</i>
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function rellenar() {
            var nombre = document.getElementById('serviubundle_funcionario_nombre').value.trim();
            var array = nombre.split(" ");
            if (array.length === 1) {
                var letra1 = array[0].charAt(0).toUpperCase();
                var letra2 = array[0].charAt(1).toUpperCase();
                var letra3 = array[0].charAt(2).toUpperCase();
                document.getElementById('serviubundle_funcionario_iniciales').value = letra1 + letra2 + letra3;
            } else if (array.length === 2) {
                var letra1 = array[0].charAt(0).toUpperCase();
                var letra2 = array[1].charAt(0).toUpperCase();
                var letra3 = array[1].charAt(1).toUpperCase();
                document.getElementById('serviubundle_funcionario_iniciales').value = letra1 + letra2 + letra3;
            } else {
                var letra1 = array[0].charAt(0).toUpperCase();
                var letra2 = array[array.length - 2].charAt(0).toUpperCase();
                var letra3 = array[array.length - 1].charAt(0).toUpperCase();
                document.getElementById('serviubundle_funcionario_iniciales').value = letra1 + letra2 + letra3;
            }
        }
        String.prototype.reverse = function () {

            var x = this.length;
            var reverse = "";
            while (x >= 0) {
                reverse = reverse + this.charAt(x);
                x--;
            }
            return reverse;

        };

        function dv(rut) {
            var rutReverse = rut.reverse();
            var start = 0;
            var suma = 0;
            var op = 2;
            if (rut.length > 6 && rut.length < 9) {
                while (start < rut.length) {
                    suma = suma + (rutReverse[start] * op);
                    start++;
                    op++;
                    if (op === 8) {
                        op = 2;
                    }
                }
            }

            var division = suma % 11;
            var digito = 11 - division;

            return digito;
        }

        function comprobar() {
            var rut = document.getElementById('serviubundle_funcionario_rut').value.trim();
            var separar = rut.split("-");
            var numero = separar[0];
            var digito = null;

            if(separar[1] === 'k' || separar[1] === 'K') {
                document.getElementById('serviubundle_funcionario_rut').value = numero + "-" + "k";
                digito = 10;
            }else{
                digito = parseInt(separar[1]);
            }


            var digitoPrima = parseInt(dv(numero));

            if(digitoPrima === 11){
                digitoPrima = 0;
            }

            if (digito === digitoPrima) {
                desactivarCasillas(false);
            } else {
                Materialize.toast('Rut o Dígito verificador inválido', 5000, 'rounded');
            }
        }

        function desactivarCasillas(op) {
            $('#serviubundle_funcionario_rut').attr('readonly', !op);
            document.getElementById('serviubundle_funcionario_nombre').disabled = op;
            document.getElementById('serviubundle_funcionario_depto').disabled = op;
            document.getElementById('serviubundle_funcionario_unidad').disabled = op;
            document.getElementById('serviubundle_funcionario_cargo').disabled = op;
            document.getElementById('accept').disabled = op;
        }
    </script>
{% endblock %}