{% extends 'base.html.twig' %}

{% block body %}
    <h1>Funcionario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ funcionario.id }}</td>
            </tr>
            <tr>
                <th>Rut</th>
                <td>{{ funcionario.rut }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ funcionario.nombre }}</td>
            </tr>
            <tr>
                <th>Depto</th>
                <td>{{ funcionario.depto }}</td>
            </tr>
            <tr>
                <th>Unidad</th>
                <td>{{ funcionario.unidad }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ funcionario.cargo }}</td>
            </tr>
            <tr>
                <th>Iniciales</th>
                <td>{{ funcionario.iniciales }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('funcionario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('funcionario_edit', { 'id': funcionario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
