{% extends 'base.html.twig' %}

{% block body %}
    {% set fecha =
    {
    "Monday" : "Lunes",
    "Tuesday" : "Martes",
    "Wednesday" : "Miércoles",
    "Thursday" : "Jueves",
    "Friday" : "Viernes",
    "Saturday" : "Sábado",
    "Sunday" : "Domingo",
    "January" : "Enero",
    "February" : "Febrero",
    "March" : "Marzo",
    "April" : "Abril",
    "May" : "Mayo",
    "June" : "Junio",
    "July" : "Julio",
    "August" : "Agosto",
    "September" : "Septiembre",
    "October" : "Octubre",
    "November" : "Noviembre",
    "December" : "Diciembre"
    } %}
    <div class="container row">


        <h2>Reporte Mobiliario Existente</h2>

        <div class="col s3">
            <a class="waves-effect waves-light blue darken-4 btn" href='{{ path('default_index') }}'>
                Volver al index <i class="material-icons right">home</i>
            </a>

            {#<a class="waves-effect waves-light btn blue darken-4 hoverable tooltipped" data-position="right" data-delay="1"
               data-tooltip="Imprimir" onclick="imprimir();">
                <i class="material-icons">print</i>
            </a>#}
        </div>

        <div id="testing" class="col s1"></div>

        <div id="imprimir">

            <table border="1" id="tableMain" class="mdl-data-table">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Valor</th>
                    <th>Valor Total</th>
                    <th>Fecha de Adquisición</th>
                    <th>Vida Útil</th>
                    <th>Vida Útil Restante</th>
                    <th>Depreciación</th>
                    <th>Valor Residual</th>
                    <th>Valor Actualizado</th>
                </tr>
                </thead>
                <tbody>
                {% for r in reporte %}
                    <tr>
                        <td>{{ r.codigo }}</td>
                        <td>{{ r.nombre }}</td>
                        <td>{{ r.cantidad }}</td>
                        <td>{{ r.valor }}</td>
                        <td>{{ r.cantidad * r.valor }}</td>
                        <td>{{ r.fechaAdquisicion|date('l d \\d\\e F \\d\\e\\l Y')|replace(fecha) }}</td>
                        <td>{{ r.vidaUtil|date('l d \\d\\e F \\d\\e\\l Y')|replace(fecha) }}</td>
                        <td>
                            {% if date('now') > date(r.vidaUtil) %}
                                Caducado
                            {% else %}
                                {{ date('now').diff(date(r.vidaUtil))|date("%y años %m meses y %d días%") }}
                            {% endif %}
                        </td>
                        <td>{{ r.depreciacion }}</td>
                        <td>{{ r.valorResidual }}</td>
                        <td>{{ r.valorActualizado }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}