<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Mobiliario SERVIU{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link type="text/css" rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css"
              media="screen,projection">
        <link type="text/css" rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"
              media="screen,projection">
        <link type="text/css" rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"
              media="screen,projection">
        <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.material.min.css"
              media="screen,projection">
        <link type="text/css" rel="stylesheet"
              href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" media="screen,projection">

        <link rel="stylesheet" href="{{ asset('style/css.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('minvu.ico') }}"/>
</head>
<nav>
    {% block nav %}
        <div class="nav-wrapper">
            <a
                    href="{{ path('default_index') }}"
                    class="brand-logo right">
                <iframe
                        src="https://freesecure.timeanddate.com/clock/i5st30pi/n232/tlcl4/fn6/fs24/fcfff/tct/pct/avb/tt0/td1/tb4"
                        frameborder="0"
                        width="397"
                        height="58"
                        allowTransparency="true"
                ></iframe>
                <img
                        src="{{ asset('minvu.ico') }}"
                        width="59px"
                        alt="logo minvu"/>
            </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{ path('default_index') }}"><h5>Mobiliario Serviu Rancagua</h5></a></li>
            </ul>
        </div>
    {% endblock %}
</nav>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"
            type="text/javascript"></script>{# dataTable #}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.material.min.js"></script>

    <script type="text/javascript" src=""></script>


    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.colVis.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


    <script>
        $(document).ready(function () {
            var tableMain = $('#tableMain').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar registros _MENU_",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                select: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<i class="material-icons">print</i>',
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible:not(.noImprimir)'
                        },
                        className: 'waves-effect waves-light blue darken-4 btn hoverable'
                    }]
            });

            $('.dt-button').removeClass('dt-button buttons-print');

            tableMain.buttons().container().appendTo($('#testing'));

            $('select').addClass("browser-default");
            $('select').material_select();


            $('.datepicker').pickadate({
                selectMonths: true,
                selectYears: 25,
                format: ('dddd dd De mmmm De yyyy'),
                formatSubmit: ('yyyy-mm-dd'),
                today: 'hoy',
                close: 'cerrar',
                clear: 'reset',
                labelMonthNext: 'Mes Siguiente',
                labelMonthPrev: 'Mes Anterior',
                monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                weekdaysLetter: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
                labelMonthSelect: 'Seleccionar Mes',
                labelYearSelect: 'Seleccionar Año',
                firstDay: true,
            });
        });

        $(document).ready(function () {
            $('.collapsible').collapsible();
        });


        /* Imprimir Página */
        function printPage(captura) {
            var win = window.open(' ', 'prueba');
            win.document.write('<html>');
            win.document.write('<head></head>');
            win.document.write('<body>');
            win.document.write('<img src="' + captura + '"/>');
            win.document.write('</body>');
            win.document.write('</html>');
            win.print();
            win.close();
        }

        function tomarCaptura(cb) {
            html2canvas(document.getElementById('imprimir'), {
                useCORS: true,
                onrendered: function (canvas) {
                    var imagen = canvas.toDataURL();
                    cb(imagen);
                }
            });
        }

        function imprimir() {
            tomarCaptura(function (captura) {
                printPage(captura);
                console.log('Imprimir');
            });
        }

        /* Imprimir Página */

        $('.dropdown-button').dropdown({
            constrainWidth: false,
            hover: true
        });

        document.addEventListener("DOMContentLoaded", function () {
            $('.preloader-background').delay(200).fadeOut('slow');

            $('.preloader-wrapper').delay(200).fadeOut();
        });

    </script>
{% endblock %}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue darken-4">
        <i class="large material-icons lime-text text-lighten-1">account_circle</i>
    </a>
    <ul>

        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Inicio" href="{{ path('default_index') }}">
                <i class="material-icons lime-text text-lighten-1">
                    home
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Funcionarios" href="{{ path('funcionario_index') }}">
                <i class="material-icons lime-text text-lighten-1">
                    face
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Mobiliario" href="{{ path('mobiliario_index') }}">
                <i class="material-icons lime-text text-lighten-1">
                    store
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Asignaciones" href="{{ path('asignacion_index') }}">
                <i class="material-icons lime-text text-lighten-1">
                    assignment
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Reporte General" href="{{ path('reporte_reporte') }}">
                <i class="material-icons lime-text text-lighten-1">
                    description
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Respaldos" href="{{ path('dump_index') }}">
                <i class="material-icons lime-text text-lighten-1">
                    backup
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Importar Funcionarios" href="{{ path('populate_funcionario') }}">
                <i class="material-icons lime-text text-lighten-1">
                    grid_on
                </i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue darken-4 tooltipped" data-position="left" data-delay="10" data-tooltip="Importar Mobiliario" href="{{ path('populate_mobiliario') }}">
                <i class="material-icons lime-text text-lighten-1">
                    grid_on
                </i>
            </a>
        </li>
    </ul>
</div>


<div class="preloader-background">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>