.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
}

/*pick a date color*/
.picker__date-display {
    text-align: center;
    background-color: #1565c0;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300;
}

.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #1565c0;
}

.picker__weekday-display {
    background-color: #0d47a1;
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px;
}

.picker__day.picker__day--today {
    color: #1565c0;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #1565c0;
    color: #ffffff;
}

button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
    background-color: #90caf9;
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
    cursor: pointer;
    color: #000000;
    background: #90caf9;
}

/*pick a date color*/

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #d4e157;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #f0f4c3;
}

/* Color Toast*/
.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #0d47a1; /* Color Toast*/
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Color Toast*/

/*Color NavBar*/

nav {
    color: #fff;
    background-color: #0d47a1;

}

/*Color NavBar*/

/*Background webpage*/
body{
    background: url("/logo/backFull.png");
}
/*Background webpage*/

/*Numeración DataTables Color Materialize*/
.mdl-button--raised.mdl-button--colored {
    background: #0d47a1;
    color: #fff;
}

.mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:hover {
    background-color: #1565c0;
}

/*Numeración DataTables Color Materialize*/

/*Cambio Color Tooltip*/
.material-tooltip {
    color: #d4e157; /*text*/
}

.backdrop {
    background-color: #0d47a1; /*back*/
}
/*Cambio Color Tooltip*/