{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row">
        <div class="col s4 offset-s3">
            <div class="row">

                <h2>Editar Asignación</h2>

                {{ form_start(edit_form) }}
                <div class="col s12">
                    {{ form_row(edit_form.idfuncionario) }}
                </div>
                <div class="col s12">
                    {{ form_row(edit_form.idmobiliario) }}
                </div>
                <div class="input-field col s12">
                    {{ form_row(edit_form.codigoasignacion) }}
                </div>
                <div class="input-field col s12">
                    {{ form_row(edit_form.codigobarras) }}
                </div>
                <div class="input-field col s12">
                    {{ form_row(edit_form.cantidadmobiliario) }}
                </div>
                <div class="col s12">
                    <a class="waves-effect waves-light blue darken-4 btn hoverable"
                       href="{{ path('asignacion_index') }}">
                        <i class="material-icons">
                            arrow_back
                        </i>
                    </a>
                    <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                        Editar Asignación {{ asignacion.codigoasignacion }}<i class="material-icons right">add_box</i>
                    </button>
                </div>
                {{ form_end(edit_form) }}
                <div>&nbsp;</div>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                    Borrar Permanentemente <i class="material-icons right">delete_forever</i>
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <script type="text/javascript">

        window.onload = function () {
            $('#serviubundle_asignacion_idfuncionario').attr('readonly', true);
            $('#serviubundle_asignacion_idmobiliario').attr('readonly', true);
            $('#serviubundle_asignacion_codigoasignacion').attr('readonly', true);
            $('#serviubundle_asignacion_codigobarras').attr('readonly', true);
        };
    </script>
{% endblock %}
