{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row">
        <h2>Lista De Asignaciones Individuales</h2>
        <div class="col s5">
            <a class="waves-effect waves-light blue darken-4 btn hoverable" href="{{ path('asignacion_new') }}">
                Nueva Asignación <i class="material-icons right">add_box</i>
            </a>

            <a class="btn waves-effect waves-light blue darken-4 hoverable" href='{{ path('default_index') }}'>
                Volver al index <i class="material-icons right">home</i>
            </a>
        </div>
        <div id="testing" class="col s1"></div>
        <div class="col s12 pull-s2">
            <table id="tableMain" class="mdl-data-table">
                <thead>
                <tr>
                    <th>Rut</th>
                    <th>Código</th>
                    <th>Iniciales</th>
                    <th>Código De Asignación</th>
                    <th>Nombre Funcionario</th>
                    <th>Cargo Funcionario</th>
                    <th>Departamento Funcionario</th>
                    <th>Unidad Funcionario</th>
                    <th>Nombre Mobiliario</th>
                    <th>Cantidad De La Asignación</th>
                    <th>Código De Barras</th>
                </tr>
                </thead>
                <tbody>
                {% for a in asignaciones %}
                    <tr>
                        <td>{{ a.idfuncionario.rut }}</td>
                        <td>{{ a.idmobiliario.codigo }}</td>
                        <td>{{ a.idfuncionario.iniciales }}</td>
                        <td>{{ a.codigoasignacion }}</td>
                        <td>{{ a.idfuncionario.nombre }}</td>
                        <td>{{ a.idfuncionario.cargo }}</td>
                        <td>{{ a.idfuncionario.depto }}</td>
                        <td>{{ a.idfuncionario.unidad }}</td>
                        <td>{{ a.idmobiliario.nombre }}</td>
                        <td>{{ a.cantidadMobiliario }}</td>
                        <td>{{ a.codigobarras }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}