{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row">
        <div class="col s4 offset-s3">
            <div class="row">

                <h2>Nueva Asignación</h2>

                {{ form_start(form) }}
                <div class="col s12">
                    {{ form_row(form.idfuncionario) }}
                </div>
                <div class="col s12">
                    {{ form_row(form.idmobiliario) }}
                </div>
                <div class="input-field col s12">
                    {{ form_row(form.codigoasignacion) }}
                </div>
                <div class="input-field col s12">
                    {{ form_row(form.codigobarras) }}
                </div>
                <div class="input-field col s12">
                    {{ form_row(form.cantidadmobiliario) }}
                </div>
                <div class="col s12">
                    <a class="waves-effect waves-light blue darken-4 btn hoverable" href="{{ path('asignacion_index') }}">
                        <i class="material-icons">
                            arrow_back
                        </i>
                    </a>
                    <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                        Establecer Asignación <i class="material-icons right">add_box</i>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function cBarras() {
        var codigo = document.getElementById('serviubundle_asignacion_idmobiliario').value;
        var inicial = document.getElementById('serviubundle_asignacion_idfuncionario').value;
        var code3 = document.getElementById('serviubundle_asignacion_codigoasignacion').value;
        var code1;
        var code2;
        {% for m in mobiliarios %}
            if ({{ m.id }} == codigo){
            code1 = '{{ m.codigo }}';
            }
        {% endfor %}

        {% for f in funcionarios %}
            if ({{ f.id }} == inicial){
            code2 = '{{ f.iniciales }}';
            }
        {% endfor %}

            if (code1 === "undefined"){
            code1 = '';
            } else if (code2 === "undefined"){
            code2 = '';
            }

            var barra = code1 + code2 + code3;
            document.getElementById('serviubundle_asignacion_codigobarras').value = barra;
            var barraFixed = document.getElementById('serviubundle_asignacion_codigobarras').value.replace('undefined', '');
            document.getElementById('serviubundle_asignacion_codigobarras').value = barraFixed;
            }

        {% for flash_message in app.session.flashBag.get('h') %}
            {% if flash_message != null %}

                    window.onload = function () {
                    Materialize.toast('Código Asignación {{ flash_message }} ya existe', 5000, 'rounded');
                    };

            {% endif %}
        {% endfor %}
    </script>
{% endblock %}