{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asignacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignacion.id }}</td>
            </tr>
            <tr>
                <th>Codigoasignacion</th>
                <td>{{ asignacion.codigoasignacion }}</td>
            </tr>
            <tr>
                <th>Codigobarras</th>
                <td>{{ asignacion.codigobarras }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('asignacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('asignacion_edit', { 'id': asignacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
