{% extends 'base.html.twig' %}
{% block body %}
    <div class="container row">
        <div class="col s3 offset-s3">
            <div class="card blue darken-4">
                <div class="card-content white-text center">
                    <i class="material-icons">face</i>
                    <span class="card-title">Listar Funcionarios</span>
                </div>
                <div class="card-action">
                    <a href="{{ path('funcionario_index') }}">Acceso a Funcionarios</a>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card blue darken-4">
                <div class="card-content white-text center">
                    <i class="material-icons">store</i>
                    <span class="card-title">Listar Mobiliario</span>
                </div>
                <div class="card-action">
                    <a href="{{ path('mobiliario_index') }}">Acceso a Mobiliario</a>
                </div>
            </div>
        </div>
        <div class="col s3 offset-s3">
            <div class="card blue darken-4">
                <div class="card-content white-text center">
                    <i class="material-icons">assignment</i>
                    <span class="card-title">Asignar Mobiliario</span>
                </div>
                <div class="card-action">
                    <a href="{{ path('asignacion_index') }}">Acceso a Asignaciones</a>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card blue darken-4">
                <div class="card-content white-text center">
                    <i class="material-icons">description</i>
                    <span class="card-title">Reporte Mobiliario</span>
                </div>
                <div class="card-action">
                    <a href="{{ path('reporte_reporte') }}">Acceso a Reporte Total</a>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
{% endblock %}