{% extends 'base.html.twig' %}
{% block body %}
    <div class="row container">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <ul class="collapsible popout" data-collapsible="exapandable" id="indexList">
            <li onmouseover="change0();" onmouseleave="leave0();">
                <div class="collapsible-header blue darken-4 lime-text text-lighten-1"><span class="new badge lime lighten-1 black-text" data-badge-caption="Funcionarios Registrados">{{ fSize }}</span><i class="material-icons">face</i>FUNCIONARIOS</div>
                <div class="collapsible-body blue lighten-5"><a href="{{ path('funcionario_index') }}" class="black-text">Acceso a Funcionarios</a></div>
            </li>
            <li onmouseover="change1();" onmouseleave="leave1();">
                <div class="collapsible-header blue darken-4 lime-text text-lighten-1"><span class="new badge lime lighten-1 black-text" data-badge-caption="Elementos Registrados">{{ mSize }}</span><i class="material-icons">store</i>MOBILIARIO</div>
                <div class="collapsible-body blue lighten-5"><a href="{{ path('mobiliario_index') }}" class="black-text">Acceso al Mobiliario</a></div>
            </li>
            <li onmouseover="change2();" onmouseleave="leave2();">
                <div class="collapsible-header blue darken-4 lime-text text-lighten-1"><span class="new badge lime lighten-1 black-text" data-badge-caption="Asignaciones Creadas">{{ aSize }}</span><i class="material-icons">assignment</i>ASIGNACIONES</div>
                <div class="collapsible-body blue lighten-5"><a href="{{ path('asignacion_index') }}" class="black-text">Acceso Asignaciones Individuales</a></div>
            </li>
            <li onmouseover="change3();" onmouseleave="leave3();">
                <div class="collapsible-header blue darken-4 lime-text text-lighten-1"><span class="new badge lime lighten-1 black-text" data-badge-caption="Elementos Asignados">{{ rSize }}</span><i class="material-icons">description</i>REPORTE</div>
                <div class="collapsible-body blue lighten-5"><a href="{{ path('reporte_reporte') }}" class="black-text">Acceso al Reporte Total</a></div>
            </li>
            <li onmouseover="change4();" onmouseleave="leave4();">
                <div class="collapsible-header blue darken-4 lime-text text-lighten-1"><span class="new badge lime lighten-1 black-text" data-badge-caption="Respaldos Disponibles">{{ dSize }}</span><i class="material-icons">backup</i>RESPALDO</div>
                <div class="collapsible-body blue lighten-5"><a href="{{ path('dump_index') }}" class="black-text">Gestión Respaldo</a></div>
            </li>
            <li onmouseover="change5();" onmouseleave="leave5();">
                <div class="collapsible-header blue darken-4 lime-text text-lighten-1"><i class="material-icons">grid_on</i>IMPORTAR</div>
                <div class="collapsible-body blue lighten-5">
                    <a href="{{ path('populate_funcionario') }}" class="black-text">Importar Excel Funcionario</a>
                    &nbsp;
                    |
                    &nbsp;
                    <a href="{{ path('populate_mobiliario') }}" class="black-text">Importar Excel Mobiliario</a>
                </div>
            </li>
        </ul>
    </div>
    <script type="text/javascript">

        var ex0 = false;
        var ex1 = false;
        var ex2 = false;
        var ex3 = false;
        var ex4 = false;
        var ex5 = false;

        function change0() {
            if (!ex0) {
                $('.collapsible').collapsible('open', 0);
                ex0 = true;
            }

        }
        function change1() {
            if (!ex1) {
                $('.collapsible').collapsible('open', 1);
                ex1 = true;
            }
        }
        function change2() {
            if (!ex2) {
                $('.collapsible').collapsible('open', 2);
                ex2 = true;
            }
        }
        function change3() {
            if (!ex3) {
                $('.collapsible').collapsible('open', 3);
                ex3 = true;
            }
        }
        function change4() {
            if (!ex4) {
                $('.collapsible').collapsible('open', 4);
                ex4 = true;
            }
        }
        function change5() {
            if (!ex5) {
                $('.collapsible').collapsible('open', 5);
                ex5 = true;
            }
        }
        function leave0() {
            if(ex0){
                $('.collapsible').collapsible('close', 0);
            }
            ex0 = false;
        }
        function leave1() {
            if(ex1){
                $('.collapsible').collapsible('close', 1);
            }
            ex1 = false;
        }
        function leave2() {
            if(ex2){
                $('.collapsible').collapsible('close', 2);
            }
            ex2 = false;
        }
        function leave3() {
            if(ex3){
                $('.collapsible').collapsible('close', 3);
            }
            ex3 = false;
        }
        function leave4() {
            if(ex4){
                $('.collapsible').collapsible('close', 4);
            }
            ex4 = false;
        }
        function leave5() {
            if(ex5){
                $('.collapsible').collapsible('close', 5);
            }
            ex5 = false;
        }

        window.onload = function () {
            Materialize.showStaggeredList('#indexList');
        };
    </script>
{% endblock %}