{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <div class="row">
                    <h1>Editar Mobiliario</h1>
                    {{ form_start(edit_form) }}
                    <div class="input-field col s6">
                        {{ form_row(edit_form.codigo) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_row(edit_form.nombre) }}
                    </div>
                    <div class="input-field col s12">
                        {{ form_row(edit_form.observacion) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(edit_form.valor) }}
                    </div>
                    <div class="col s8"><br><br><br><br></div>
                    <div class="input-field col s6">
                        {{ form_row(edit_form.fechaadquisicion) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_row(edit_form.vidautil) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(edit_form.depreciacion) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(edit_form.valorresidual) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(edit_form.valoractualizado) }}
                    </div>
                    <div class="col s7">
                        <a class="waves-effect waves-light blue darken-4 btn hoverable"
                           href="{{ path('mobiliario_index') }}">
                            <i class="material-icons">
                                arrow_back
                            </i>
                        </a>
                        <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                            Editar Mobiliario {{ mobiliario.codigo }} <i class="material-icons right">add_box</i>
                        </button>
                    </div>
                    {{ form_end(edit_form) }}
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                        Borrar Permanentemente<i class="material-icons right">delete_forever</i>
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            $('#serviubundle_mobiliario_codigo').attr('readonly', true);
            $('#serviubundle_mobiliario_nombre').attr('readonly', true);
        }
    </script>
{% endblock %}
