{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row">
        <h1>Listado De Mobiliario</h1>

        <div class="col s6">
        <a class="waves-effect waves-light blue darken-4 btn hoverable" href='{{ path('mobiliario_new') }}'>
            Agregar Mobiliario a la lista <i class="material-icons right">add_box</i>
        </a>

        <a class="waves-effect waves-light blue darken-4 btn hoverable" href='{{ path('default_index') }}'>
            Volver al index <i class="material-icons right">home</i>
        </a>

        {#<a class="waves-effect waves-light btn blue darken-4 hoverable tooltipped" data-position="right" data-delay="1" data-tooltip="Imprimir" onclick="imprimir();">
            <i class="material-icons">print</i>
        </a>#}
        </div>

        <div id="testing" class="col s1"></div>

        <div id="imprimir">

            <table border="1" id="tableMain" class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Observación</th>
                        <th class="noImprimir">Vista</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mobiliario in mobiliarios %}
                        <tr>
                            <td>{{ mobiliario.codigo }}</td>
                            <td>{{ mobiliario.nombre }}</td>
                            <td>{{ mobiliario.observacion }}</td>
                            <td>
                                <a href="{{ path('mobiliario_show', { 'id': mobiliario.id }) }}"><i class="material-icons lime-text text-darken-1">assignment</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}