{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <div class="row">
                    <h1>Añadir Mobiliario</h1>
                    {{ form_start(form) }}
                    <div class="input-field col s6">
                        {{ form_row(form.codigo) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_row(form.nombre) }}
                    </div>
                    <div class="input-field col s12">
                        {{ form_row(form.observacion) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(form.valor) }}
                    </div>
                    <div class="col s8"><br><br><br><br></div>
                    <div class="input-field col s6">
                        {{ form_row(form.fechaadquisicion) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_row(form.vidautil) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(form.depreciacion) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(form.valorresidual) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_row(form.valoractualizado) }}
                    </div>
                    <div class="col s7">
                        <a class="waves-effect waves-light blue darken-4 btn hoverable" href="{{ path('mobiliario_index') }}">
                            <i class="material-icons">
                                arrow_back
                            </i>
                        </a>
                        <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                            Añadir Mobiliario <i class="material-icons right">add_box</i>
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
        <script type='text/javascript'>
            {% for flash_message in app.session.flashBag.get('m') %}
                {% if flash_message != null %}

                    window.onload = function () {
                        Materialize.toast('Código {{ flash_message }} ya existe', 5000, 'rounded');
                    };

                {% endif %}
            {% endfor %}
        </script>
{% endblock %}
