{% extends 'base.html.twig' %}

{% block body %}
    <div class="row container">
        <div class="col s6 offset-s3">
            <div id="imprimir">
                <h5>Mobiliario - {{ mobiliario.nombre }}</h5>

                <script type='text/javascript'>
                    {% for flash_message in app.session.flashBag.get('m') %}
                    {% if flash_message != null %}

                    window.onload = function () {
                        Materialize.toast('{{ flash_message }} añadido exitosamente', 5000, 'rounded');
                    };

                    {% endif %}
                    {% endfor %}

                    {% set fecha =
                    {
                    "Monday" : "Lunes",
                    "Tuesday" : "Martes",
                    "Wednesday" : "Miércoles",
                    "Thursday" : "Jueves",
                    "Friday" : "Viernes",
                    "Saturday" : "Sábado",
                    "Sunday" : "Domingo",
                    "January" : "Enero",
                    "February" : "Febrero",
                    "March" : "Marzo",
                    "April" : "Abril",
                    "May" : "Mayo",
                    "June" : "Junio",
                    "July" : "Julio",
                    "August" : "Agosto",
                    "September" : "Septiembre",
                    "October" : "Octubre",
                    "November" : "Noviembre",
                    "December" : "Diciembre"
                    } %}

                </script>

                <table>

                    <tr>
                        <td>
                            <div class="">
                                Código:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.codigo }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Nombre:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.nombre }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Observación:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.observacion }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Valor:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.valor }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Fecha De Adquisición:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.fechaadquisicion|date('l d \\d\\e F \\d\\e\\l Y')|replace(fecha) }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Vida Útil:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.vidautil|date('l d \\d\\e F \\d\\e\\l Y')|replace(fecha) }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Depreciación:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.depreciacion }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Valor Residual:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.valorresidual }}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="">
                                Valor Actualizado:
                            </div>
                        </td>
                        <td>
                            <div class="">
                                {{ mobiliario.valoractualizado }}
                            </div>
                        </td>
                    </tr>


                </table>
            </div>

            <div class="col offset-s10">
                <a class="waves-effect waves-light blue darken-4 btn hoverable" href="{{ path('mobiliario_index') }}">
                    Volver <i class="material-icons left">arrow_back</i>
                </a>

                <a class="waves-effect waves-light btn blue darken-4 hoverable tooltipped" data-position="right"
                   data-delay="1" data-tooltip="Imprimir" onclick="imprimir();">
                    <i class="material-icons">print</i>
                </a>
            </div>
        </div>
    </div>

    {#
    <table>
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ mobiliario.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ mobiliario.nombre }}</td>
            </tr>
            <tr>
                <th>Observación</th>
                <td>{{ mobiliario.observacion }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ mobiliario.valor }}</td>
            </tr>
            <tr>
                <th>Fecha De Adquisición</th>
                <td>{{ mobiliario.fechaadquisicion|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Vida Útil</th>
                <td>{{ mobiliario.vidautil|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Depreciación</th>
                <td>{{ mobiliario.depreciacion }}</td>
            </tr>
            <tr>
                <th>Valor Residual</th>
                <td>{{ mobiliario.valorresidual }}</td>
            </tr>
            <tr>
                <th>Valor Actualizado</th>
                <td>{{ mobiliario.valoractualizado }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('mobiliario_edit', { 'id': mobiliario.id }) }}">Edit</a>
    #}
{% endblock %}