{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row">
        <h1>Importar Mobiliario Desde CSV</h1>

        <script type='text/javascript'>
            {% for flash_message in app.session.flashBag.get('m') %}
            {% if flash_message != null %}

            window.onload = function () {
                Materialize.toast('Archivo [{{ flash_message }}] procesado exitosamente', 5000, 'rounded');
            };

            {% endif %}
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('e') %}
            {% if flash_message != null %}

            window.onload = function () {
                Materialize.toast('Archivo [{{ flash_message }}] no procesado', 5000, 'rounded');
            };

            {% endif %}
            {% endfor %}


        </script>

        <div class="card-panel blue lighten-3">
            {{ form_start(form) }}
            <div>
                {{ form_row(form.path) }}
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                    Importar <i class="material-icons right">import_export</i>
                </button>
                <a class="waves-effect waves-light blue darken-4 btn hoverable" href="javascript:history.back(-1);">
                    Volver
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}