{{ form_start(form, {'attr':{'class':'form-horizontal'}})}}

<div class="row">

    <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">

        <!--  div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">

          <div class="list-group">

  

            <a href="#" class="list-group-item text-center active">

             Datos del Beneficiario 

            </a>

            <a href="#" class="list-group-item text-center">

              Datos de la Vivienda

            </a>

     

          </div>

        </div-->



        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">


            <div class="bhoechie-tab-content active">

                <h2>Información General </h2>

                <HR width=100% align="center">

                <center>


                    <div class="form-group">    

                        {{ form_label(form.oficinaDelegacion,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.oficinaDelegacion, {'attr':{'class':'form-control'}}) }}  



                        </div>

                    </div> 




                </center>

            </div>


            <!-- Datos del Beneficiario section -->

            <div class="bhoechie-tab-content active">

                <h2>Datos del Beneficiario </h2>

                <HR width=100% align="center">

                <center>




                    <div class="form-group">    

                        {{ form_label(form.runbeneficiario,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.runbeneficiario, {'attr':{'class':'form-control', 'placeholder':'Ingrese su Rut:'}}) }}  

                            <h6 class="text-danger">Se recomienda el siguiente formato para el RUT (1111111-1)</h6>

                        </div>

                    </div> 


                    <div class="form-group">

                        {{ form_label(form.nbeneficiario,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.nbeneficiario, {'attr':{'class':'form-control'}}) }}  

                        </div>

                    </div>




                    <div class="form-group" id="cboEstado">

                        {{ form_label(form.estado,null,  {'label_attr':{'class':'control-label col-xs-3'}})}}

                        <div class="col-xs-9">

                            {{ form_widget(form.estado, {'attr':{'class':'form-control','onclick':'alerta()'}})}}  

                        </div>

                    </div>  




                </center>

            </div>

            <div class="container">


                <div class="observacion">

                    <br>

                    <div class="form-group">

                        <div class="col-xs-9">


                            <div class="text text-info" style="font-family: cursive; font-size: 8px; background: transparent;">Caracteres permitidos: Max 200 LLeva:                              <input class="text-info" style="background: transparent; font-family: cursive; font-size: 8px; border: 0;" type="text" name=caracteres size="2" style="text-align: center;"></div>

                            <textarea class="form-control" placeholder="Observaciones" name="txtObservacion" maxlength="200" onKeyDown="cuenta()" onKeyUp="cuenta()"></textarea>


                        </div>

                    </div> 

                </div>

            </div>


            <!-- Datos de la Vivienda  -->

            <div class="bhoechie-tab-content active">


                <h2>Datos de la Vivienda </h2>

                <HR width=100% align="center">

                <center>


                    <div class="form-group">

                        {{ form_label(form.lugar,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.lugar, {'attr':{'class':'form-control', 'placeholder':form.lugar.vars.label}}) }}  

                        </div>

                    </div>


                    <div class="form-group">

                        {{ form_label(form.numero,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.numero, {'attr':{'class':'form-control', 'placeholder':form.numero.vars.label,'onkeypress':'return comprobarNumero(event);'}}) }}  

                        </div>

                    </div>       


                    <div class="form-group">

                        {{ form_label(form.comuna,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.comuna, {'attr':{'class':'form-control'}}) }}  

                        </div>

                    </div>


                    <div class="form-group">

                        {{ form_label(form.nproyecto,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.nproyecto, {'attr':{'class':'form-control', 'placeholder':form.nproyecto.vars.label}}) }}  

                        </div>

                    </div>


                    <div class="form-group">

                        {{ form_label(form.programa,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.programa, {'attr':{'class':'form-control'}}) }}  

                        </div>

                    </div>


                    <div class="form-group">

                        {{ form_label(form.modalidad,null,  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.modalidad, {'attr':{'class':'form-control'}}) }}  

                        </div>

                    </div>





                    <div class="form-group">

                        {{ form_label(form.tvivienda,"Tipo de Vivienda",  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9">

                            {{ form_widget(form.tvivienda, {'attr':{'class':'form-control'}}) }}  

                        </div>

                    </div>   


                    <div class="form-group">

                        {{ form_label(form.tieneEscritura,"Tiene Escritura",  {'label_attr':{'class':'control-label col-xs-3'}}) }}

                        <div class="col-xs-9" align="left">

                            {{ form_widget(form.tieneEscritura, {'attr':{'class':'form-control'}}) }}  

                        </div>

                    </div>




                </center>

            </div>


            <div class="bhoechie-tab-content active">


                <HR width=100% align="center">

                <center>


                    <div class="col-xs-offset-2 col-xs-9" style="margin-bottom: 10px;">

                        <input type="submit" class="btn btn-success" value="Enviar">

                        <input type="reset" class="btn btn-primary" value="Limpiar">

                    </div>

                    {{ form_widget(form.estado, {'attr':{'class':'form-control'}}) }}  

                </center>

            </div>



        </div>

    </div>


</div>


{{ form_end(form) }}





----TYPE



public function buildForm(FormBuilderInterface $builder, array $options) {


$builder

->add('codigo', HiddenType::class)

->add('comuna', ChoiceType::class, array('choices' => $this->getArrayComunas()), ['label' => 'Comuna', 'required' => true])

->add('nproyecto', TextType::class, ['label' => 'Nombre del Proyecto', 'required' => true])

->add('programa', ChoiceType::class, array('choices' => $this->getArrayProgramas()), ['label' => 'Programa', 'required' => true])

->add('modalidad', ChoiceType::class, array('choices' => $this->getArrayModalidad()), ['label' => 'Modalidad', 'required' => true])

->add('tvivienda', ChoiceType::class, array('choices' => $this->getArrayTipoVivienda()), ['label' => 'Tipo Vivienda', 'required' => true])

->add('lugar', TextType::class, ['label' => 'Calle/Avenida/Pasaje', 'required' => true])

->add('numero', TextType::class, ['label' => 'Numero', 'required' => true])

->add('nbeneficiario', TextType::class, ['label' => 'Nombre Beneficiario', 'required' => true])

->add('runbeneficiario', TextType::class, ['label' => 'Rut Beneficiario', 'required' => true])

->add('estado', ChoiceType::class, array('choices' => $this->getArrayEstadoFicha()), ['label' => 'Estado', 'required' => true])

->add('tieneEscritura',ChoiceType::class,array('choices' => array('NO' => 'NO' , 'SI' => 'SI')),['label' => 'Tiene Escritura', 'required' => true])

->add('oficinaDelegacion', ChoiceType::class, array('choices' => $this->getArrayOficinaDelegacion()), ['label' => 'Oficina o Delegacion', 'required' => true])

;


}