{% extends 'base.html.twig' %}
{% block body %}
    <div class="container row">
        <h1>Crear/Restaurar Copias Seguridad</h1>
        <div class="card-panel blue lighten-3">
            {{ form_start(form, {'attr': {'action': 'restore'}}) }}
            {{ form_row(form.chooser) }}
            <button type="submit" class="btn waves-effect waves-light blue darken-4 hoverable">
                Restaurar <i class="material-icons right">restore</i>
            </button>
            {{ form_end(form) }}
        </div>
        <div class="card-panel indigo lighten-3 center-align">
            <form action="{{ path('dump_create') }}" method="get">
                <button type="submit" class="pulse btn waves-effect waves-light blue darken-4 hoverable">
                    Crear Respaldo Ahora <i class="material-icons right">cloud_circle</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}